.headerContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  background-color: #f0f0f0;
}

.link {
  text-decoration: none;
  color: white;
  background-color: #d3efff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #1d8fc9;
}

.button-container {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.button-container button {
  background-color: #38b6ff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.button-container button:hover {
  background-color: #309fcc;
}
