.headerContainer {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the links */
  padding: 10px;
  background-color: #f0f0f0; /* Background color for the container */
}

.link {
  text-decoration: none;
  color: white;
  background-color: #38B6FF; /* Background color for the links */
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.link:hover {
  background-color: #1d8fc9; /* Changes color on hover */
}
